.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-font-size: 30px;
    -fx-border-width: 5px;
    -fx-border-color: #343a40;
    -fx-background-color: #323232;
    -fx-border-radius: 5px;
}


.list-view .list-cell:even {
    -fx-background-color:  #343a40;
}
.list-view .list-cell:odd {
    -fx-background-color:  #343a40;
}

.jfx-combo-box {
    -fx-background-color:  #85a1ff;
}

.combo-box .cell {
    -fx-text-fill: white;
}

.jfx-text-field {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}

.jfx-text-area {
    -fx-prompt-text-fill: WHITE;
    -jfx-focus-color: WHITE;
    -jfx-unfocus-color: WHITE;
}