.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-font-size: 30px;
    -fx-border-width: 5px;
    -fx-border-color: #343a40;
    -fx-background-color: #323232;
    -fx-border-radius: 5px;
}


.list-view .list-cell:even {
    -fx-background-color:  #343a40;
}
.list-view .list-cell:odd {
    -fx-background-color:  #343a40;
}

/** {*/
/*    -fx-background-color: #343a40;*/
/*}*/