.jfx-snackbar-content {
    -fx-background-color: #323232;
}
.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
    -fx-font-size: 30px;
    -fx-border-width: 5px;
    -fx-border-color: #343a40;
    -fx-background-color: #323232;
    -fx-border-radius: 5px;
}


.list-view .list-cell:even {
    -fx-background-color:  #343a40;
}
.list-view .list-cell:odd {
    -fx-background-color:  #343a40;
}

/** {*/
/*    -fx-background-color: #343a40;*/
/*}*/



.combo-box .list-cell:filled:selected .text,
.choice-box .list-cell:filled:selected .text {
    -fx-fill: lightblue;
}

.jfx-combo-box  .arrow {
    -fx-background-color: #bdbdbd;
}

.jfx-combo-box {
    -fx-font-size: 12px;
    -fx-prompt-text-fill: lightblue;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    /*-fx-text-inner-color: white;*/
}



.jfx-combo-box .cell {
    -fx-text-fill: white;
}

.jfx-text-field, .jfx-text-area {
    -jfx-focus-color: white;
    -fx-text-fill: white;
}